html, body {
    min-width: 375px;
}

.main-content2 {
    position: relative;
    min-height: 92vh;
}

.etno-stripe2 {
    overflow: hidden;
    width: 100%;
}

#hair-header {
    text-align: center;
    font-size: 51px;
    font-weight: normal;
    margin-top: 20px;


}

#hair-header2 {
    text-align: center;
    font-size: 51px;
    font-weight: normal;
    margin-top: 10px;

}

.etno-letters2 {
    font-family: 'Galaktika';
    font-weight: 400;
}

.hair {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    margin: auto;

}

@media (max-width: 768px) {

    .hair {
        flex-direction: column;
    }


    .image-container1 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

#image-container2 {
    position: relative;
    width: 250px;
    height: 200px;
}


.outline2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #006432;
    top: 2%;
    left: 5%;
    z-index: -1;
}


.description1 p {
    margin-top: 0;
    text-align: justify;
    font-size: 24px;

    font-weight: 400;
}

#image-container1 {
    position: relative;
    width: 250px;
    height: 200px;
    margin-right: 40px;
    margin-bottom: 40px;

}

.description1 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Zen Kaku Gothic Antique';


}

.description2 p {
    margin-top: 0;
    text-align: justify;
    font-size: 24px;

    font-weight: 400;
}


.description2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-left: 5%;
    margin-right: 5%;
}

.right-section2 {
    display: flex;
    flex-direction: column;
}


.image-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;


}


.sections-container {
    display: flex;
    flex-direction: row;

}

.what-to-expect, .benefits {
    width: 50%;
    flex: 1;
    padding: 10px;

}


@media screen and (min-width: 768px) and (max-width: 1440px) {
    .what-to-expect, .benefits {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-text-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .image-text-container img {
        margin-right: 20px;
    }

    .image-text-container:last-child {
        margin-bottom: 0;
    }
}


@media screen and (max-width: 768px) {
    .image-text-container {

        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .image-text-container img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .image-text-container:last-child {
        margin-bottom: 0;
    }


}


#image-container2 {
    position: relative;

}


#image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: -11px -11px 8px 0px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
}

#image:hover {
    box-shadow: 0 0 100px 5px rgba(1, 156, 124, 0.7);
}

.outline2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #006432;
    top: 2%;
    left: 5%;
    z-index: -1;
}


.text-description {
    margin-left: 1%;

}

.text-description p {
    margin-top: 0;
    text-align: justify;
    font-size: 24px;

    font-weight: 400;
    width: 400px;
}


.text-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.first-section {
    display: flex;
    flex-direction: column;
}


.second-section {
    display: flex;
    flex-direction: column;
}


.sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sections-container section {
    flex-basis: 48%;
}


.header-with-background2 {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

}

.header-with-background2 h2 {
    flex-basis: 50%;
    text-align: center;
}


.header-with-background2 h2:not(:last-child) {
    margin-right: 10px;
}


.container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.price-description {
    flex-basis: 50%;

    margin: 10px 100px;
    padding: 10px;
    border-radius: 8px;
    font-size: 24px;
}


.price-description p {
    font-weight: bold;
    margin-bottom: 10px;
}

.price-description ul {

    padding: 0;
}

.price-description li {
    margin-bottom: 5px;
}


@media (max-width: 768px) {

    .description2 p {
        width: 100%;
        margin: 0 auto;

    }
}


@media screen and (max-width: 425px) {
    .text-description {
        padding: 10%;
    }
}

@media screen and (max-width: 900px) {

    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {

    .price-description li {
        width: 100%;
        margin: 0 auto;
    }

    .description2 {
        margin-top: 15%;
        margin-bottom: 15%;
    }
}

.description2 {
    margin-top: 15px;
    margin-bottom: 30px;
}


.anim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -100;
}

.bubble-effect {
    position: relative;
    display: flex;
    justify-content: space-between;
}


.bubble-effect span {
    position: relative;
    width: 10px;
    height: 10px;

    margin: 0 2px;
    border-radius: 50%;
    background: rgba(154, 205, 50, 0.5);
    box-shadow: 0 0 0 5px rgba(154, 205, 50, 0.22),
    0 0 15px rgba(154, 205, 50, 0.5),
    0 0 30px rgba(154, 205, 50, 0.3);
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubble-effect span:nth-child(even) {
    background: rgba(135, 206, 235, 0.5);
    box-shadow: 0 0 0 5px rgba(135, 206, 235, 0.22),
    0 0 15px rgba(135, 206, 235, 0.5),
    0 0 30px rgba(135, 206, 235, 0.3);
}


@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}


@media (max-width: 1200px) {
    .bubble-effect span:nth-child(n+31):nth-child(-n+50) {
        display: none;
    }
}

@media (max-width: 800px) {
    .bubble-effect span:nth-child(n+21):nth-child(-n+50) {
        display: none;
    }
}

@media (max-width: 500px) {
    .bubble-effect span:nth-child(n+11):nth-child(-n+50) {
        display: none;
    }
}
