html, body {
    min-width: 375px; /* This sets the minimum width of the page */
}

.main-content2 {
    position: relative;
    min-height: 92vh;
}

.etno-stripe2 {
    overflow: hidden;
    width: 100%;
}

#hair-header {
    text-align: center;
    font-size: 51px;
    font-weight: normal;
    margin-top: 20px;


}

#hair-header2 {
    text-align: center;
    font-size: 51px;
    font-weight: normal;
    margin-top: 10px;

}

.etno-letters2 {
    font-family: 'Galaktika';
    font-weight: 400;
}

.hair {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    margin: auto;

}

@media (max-width: 768px) {
    /* Adjust breakpoint as needed */
    .hair {
        flex-direction: column; /* Stack image and text on top of each other */
    }

    /*.description2 {*/
    /*    margin-top: 20px; !* Provide more space above *!*/
    /*    margin-bottom: 20px; !* Provide more space below *!*/
    /*}*/
    .image-container1 {
        width: 100%; /* При необхідності налаштуйте ширину */
        display: flex;
        justify-content: center;
    }
}

#image-container2 {
    position: relative;
    width: 250px;
    height: 200px;
}


.outline2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #006432;
    top: 2%;
    left: 5%;
    z-index: -1;
}

.hair figure2 {
    display: flex;
    flex-direction: column;
    width: 110%;
}

.hair figure2 figcaption2 {
    text-align: center;
    font-size: 22px;
    margin-top: 6%;
}


.description1 p {
    margin-top: 0;
    text-align: justify;
    font-size: 24px;
    /*font-family: 'Zen Kaku Gothic Antique';*/
    font-weight: 400;
}

#image-container1 {
    position: relative;
    width: 250px;
    height: 200px;
    margin-right: 40px;
    margin-bottom: 40px;

}

.description1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 30vh; !* Adjust as needed *!*/
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Zen Kaku Gothic Antique';


}

.description2 p {
    margin-top: 0;
    text-align: justify;
    font-size: 24px;
    /*font-family: 'Zen Kaku Gothic Antique';*/
    font-weight: 400;
}


.description2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Adjust as needed */
    margin-left: 5%;
    margin-right: 5%;
}

.right-section2 {
    display: flex;
    flex-direction: column;
}


.image-text-container {
    display: flex; /* Enable flexbox */
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Space out the children */
    margin-top: 10px; /* Add top margin */
    margin-bottom: 50px; /* Add bottom margin */


}


/*.sections-container {*/
/*    display: flex; !* This will enable flexbox *!*/
/*    flex-direction: row; !* This will place the children in a row *!*/
/*}*/

/*.what-to-expect, .benefits {*/
/*    width: 50%;*/
/*    flex: 1; !* This will make each section take up equal space *!*/
/*    padding: 10px; !* Optional padding for spacing *!*/
/*}*/

.sections-container {
    display: flex;
    flex-direction: row;
    /* Other styles... */
}

.what-to-expect, .benefits {
    width: 50%;
    flex: 1;
    padding: 10px;
    /* Other styles... */
}

/* Media query for screen sizes between 768px and 1440px */
@media screen and (min-width: 768px) and (max-width: 1440px) {
    .what-to-expect, .benefits {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-text-container {
        display: flex;
        flex-direction: row; /* Aligns items in a row */
        align-items: center;
        justify-content: center;
        margin-bottom: 20px; /* 20px gap between each container */
    }

    .image-text-container img {
        margin-right: 20px; /* 20px gap between the image and text */
    }

    .image-text-container:last-child {
        margin-bottom: 0;
    }
}


/* Media query for screen sizes smaller than 768px */
@media screen and (max-width: 768px) {
    .image-text-container {
        /* Stacking image and text vertically */
        flex-direction: column; /* Aligns items in a column */
        align-items: center; /* Center aligns the items */
        text-align: center; /* Centers the text below the image */
        margin-bottom: 20px; /* 20px gap between each container */
    }

    .image-text-container img {
        margin-right: 0; /* Removes the gap to the right of the image */
        margin-bottom: 20px; /* Adds 20px gap below the image */
    }

    .image-text-container:last-child {
        margin-bottom: 0; /* Removes the margin from the last container */
    }


}


/*.what-to-expect {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    width: 80vw;*/
/*    margin: auto;*/
/*}*/

#image-container2 {
    position: relative;

}

/*#owner-image {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    box-shadow: -11px -11px 8px 0px rgba(0, 0, 0, 0.25);*/

/*}*/

#image {
    width: 100%;
    height: 100%;
    position: absolute; /* To position your image relative to its parent */
    top: 0; /* Align the top edge of the image with the container */
    left: 0; /* Align the left edge of the image with the container */
    box-shadow: -11px -11px 8px 0px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
}

#image:hover {
    box-shadow: 0 0 100px 5px rgba(1, 156, 124, 0.7); /* Green glow effect on hover */
}

.outline2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #006432;
    top: 2%;
    left: 5%;
    z-index: -1;
}

.what-to-expect figure2 {
    display: flex;
    flex-direction: column;
    width: 110%;
}

.what-to-expect figure2 figcaption2 {
    text-align: center;
    font-size: 22px;
    margin-top: 6%;
}

.text-description {
    margin-left: 1%;

}

.text-description p {
    margin-top: 0;
    text-align: justify;
    font-size: 24px;
    /*font-family: 'Zen Kaku Gothic Antique';*/
    font-weight: 400;
    width: 400px;
}


.text-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Adjust as needed */
}

.first-section {
    display: flex;
    flex-direction: column;
}


/*.benefits {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    width: 80vw;*/
/*    margin: auto;*/
/*}*/


.benefits figure2 {
    display: flex;
    flex-direction: column;
    width: 110%;
}

.benefits figure2 figcaption2 {
    text-align: center;
    font-size: 22px;
    margin-top: 6%;
}


.second-section {
    display: flex;
    flex-direction: column;
}


.sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sections-container section {
    flex-basis: 48%; /* Щоб забезпечити деякий простір між колонками */
}


.header-with-background2 {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

}

.header-with-background2 h2 {
    flex-basis: 50%; /* Кожен заголовок займає приблизно половину ширини контейнера */
    text-align: center; /* Центруємо текст кожного заголовку */
}

/* Опціонально, щоб забезпечити відступ між заголовками */
.header-with-background2 h2:not(:last-child) {
    margin-right: 10px; /* Додаємо відступ справа до першого заголовка */
}


.container {
    display: flex;
    justify-content: space-around;
    gap: 20px; /* Додає проміжок між колонками */
}

.price-description {
    flex-basis: 50%; /* Кожна колонка займає половину доступного простору */
    /* Або можна використати flex: 1; для рівного розподілу простору між колонками */
    margin: 10px 100px;
    padding: 10px;
    border-radius: 8px; /* Закруглені кути */
    font-size: 24px;
}

/* Стилі для заголовків і списків всередині .price-description */
.price-description p {
    font-weight: bold; /* Жирний шрифт для заголовків */
    margin-bottom: 10px; /* Відступ знизу для заголовків */
}

.price-description ul {
    /*list-style-type: none; !* Видалення стандартних маркерів списку *!*/
    padding: 0; /* Видалення відступів списку */
}

.price-description li {
    margin-bottom: 5px; /* Відступ знизу для елементів списку */
}

/* Додайте будь-які додаткові стилі, які ви хочете використати для красивого оформлення */


@media (max-width: 768px) {
    /* Adjust the max-width as needed for your specific breakpoint */
    .description2 p {
        width: 100%; /* Adjust this width until the text breaks as desired */
        margin: 0 auto; /* This centers the paragraph if the container is wider than the paragraph */
        /* Any additional styling you want to apply specifically for tablets */
    }
}

/* Media query for screens smaller than 425px */
@media screen and (max-width: 425px) {
    .text-description {
        padding: 10%; /* Adds padding of 10px to left and right */
    }
}

@media screen and (max-width: 900px) {
    /* Задайте поріг для медіа-запиту згідно з вашими потребами */
    .container {
        flex-direction: column; /* На малих екранах блоки будуть розташовуватися один під іншим */
    }
}

@media screen and (max-width: 425px) {
    /* Задайте поріг для медіа-запиту згідно з вашими потребами */
    .price-description li {
        width: 100%; /* Adjust this width until the text breaks as desired */
        margin: 0 auto;
    }

    .description2 {
        margin-top: 15%;
        margin-bottom: 15%;
    }
}

.description2 {
    margin-top: 15px;
    margin-bottom: 30px;
}

/* .bubble-effect span:nth-child(1) { --i: 11; }
.bubble-effect span:nth-child(2) { --i: 12; }
.bubble-effect span:nth-child(3) { --i: 24; }
.bubble-effect span:nth-child(4) { --i: 10; }
.bubble-effect span:nth-child(5) { --i: 14; }
.bubble-effect span:nth-child(6) { --i: 23; }
.bubble-effect span:nth-child(7) { --i: 18; }
.bubble-effect span:nth-child(8) { --i: 16; }
.bubble-effect span:nth-child(9) { --i: 19; }
.bubble-effect span:nth-child(10) { --i: 20; }
.bubble-effect span:nth-child(11) { --i: 22; }
.bubble-effect span:nth-child(12) { --i: 25; }
.bubble-effect span:nth-child(13) { --i: 18; }
.bubble-effect span:nth-child(14) { --i: 21; }
.bubble-effect span:nth-child(15) { --i: 15; }
.bubble-effect span:nth-child(16) { --i: 13; }
.bubble-effect span:nth-child(17) { --i: 26; }
.bubble-effect span:nth-child(18) { --i: 17; }
.bubble-effect span:nth-child(19) { --i: 13; }
.bubble-effect span:nth-child(20) { --i: 28; }
.bubble-effect span:nth-child(21) { --i: 11; }
.bubble-effect span:nth-child(22) { --i: 12; }
.bubble-effect span:nth-child(23) { --i: 24; }
.bubble-effect span:nth-child(24) { --i: 10; }
.bubble-effect span:nth-child(25) { --i: 14; }
.bubble-effect span:nth-child(26) { --i: 23; }
.bubble-effect span:nth-child(27) { --i: 18; }
.bubble-effect span:nth-child(28) { --i: 16; }
.bubble-effect span:nth-child(29) { --i: 19; }
.bubble-effect span:nth-child(30) { --i: 20; }
.bubble-effect span:nth-child(31) { --i: 22; }
.bubble-effect span:nth-child(32) { --i: 25; }
.bubble-effect span:nth-child(33) { --i: 18; }
.bubble-effect span:nth-child(34) { --i: 21; }
.bubble-effect span:nth-child(35) { --i: 15; }
.bubble-effect span:nth-child(36) { --i: 13; }
.bubble-effect span:nth-child(37) { --i: 26; }
.bubble-effect span:nth-child(38) { --i: 17; }
.bubble-effect span:nth-child(39) { --i: 13; }
.bubble-effect span:nth-child(40) { --i: 28; }
.bubble-effect span:nth-child(41) { --i: 11; }
.bubble-effect span:nth-child(42) { --i: 12; }
.bubble-effect span:nth-child(43) { --i: 24; }
.bubble-effect span:nth-child(44) { --i: 10; }
.bubble-effect span:nth-child(45) { --i: 14; }
.bubble-effect span:nth-child(46) { --i: 23; }
.bubble-effect span:nth-child(47) { --i: 18; }
.bubble-effect span:nth-child(48) { --i: 16; }
.bubble-effect span:nth-child(49) { --i: 19; }
.bubble-effect span:nth-child(50) { --i: 20; }
.bubble-effect span:nth-child(51) { --i: 22; }
.bubble-effect span:nth-child(52) { --i: 25; }
.bubble-effect span:nth-child(53) { --i: 18; }
.bubble-effect span:nth-child(54) { --i: 21; }
.bubble-effect span:nth-child(55) { --i: 15; }
.bubble-effect span:nth-child(56) { --i: 13; }
.bubble-effect span:nth-child(57) { --i: 26; }
.bubble-effect span:nth-child(58) { --i: 17; }
.bubble-effect span:nth-child(59) { --i: 13; }
.bubble-effect span:nth-child(60) { --i: 28; }
.bubble-effect span:nth-child(61) { --i: 11; }
.bubble-effect span:nth-child(62) { --i: 12; }
.bubble-effect span:nth-child(63) { --i: 24; }
.bubble-effect span:nth-child(64) { --i: 10; }
.bubble-effect span:nth-child(65) { --i: 14; }
.bubble-effect span:nth-child(66) { --i: 23; }
.bubble-effect span:nth-child(67) { --i: 18; }
.bubble-effect span:nth-child(68) { --i: 16; }
.bubble-effect span:nth-child(69) { --i: 19; }
.bubble-effect span:nth-child(70) { --i: 20; }
.bubble-effect span:nth-child(71) { --i: 22; }
.bubble-effect span:nth-child(72) { --i: 25; }
.bubble-effect span:nth-child(73) { --i: 18; }
.bubble-effect span:nth-child(74) { --i: 21; }
.bubble-effect span:nth-child(75) { --i: 15; }
.bubble-effect span:nth-child(76) { --i: 13; }
.bubble-effect span:nth-child(77) { --i: 26; }
.bubble-effect span:nth-child(78) { --i: 17; }
.bubble-effect span:nth-child(79) { --i: 13; }
.bubble-effect span:nth-child(80) { --i: 28; } */


.anim {
    position: fixed; /* Змінено з relative на fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -100;
}

.bubble-effect {
    position: relative;
    display:flex;
    justify-content: space-between;
}

/*.bubble-effect span {*/
/*    position: relative;*/
/*    width: 10px; !* Зменшено удвічі з 20px *!*/
/*    height: 10px; !* Зменшено удвічі з 20px *!*/

/*    margin: 0 2px; !* Зменшено відступи, оскільки кульки менші *!*/
/*    border-radius: 50%;*/
/*    background: #9ACD32; !* Змінено на приглушений зелений колір *!*/
/*    box-shadow:*/
/*            0 0 0 5px #9ACD3244, !* Полупрозорий приглушений зелений *!*/
/*            0 0 15px #9ACD32,  !* Світлий приглушений зелений *!*/
/*            0 0 30px #9ACD32;  !* Зменшено розмір темної тіні *!*/
/*    animation: animate 15s linear infinite;*/
/*    animation-duration: calc(125s / var(--i));*/
/*}*/

/*.bubble-effect span:nth-child(even) {*/
/*    background: #87CEEB; !* Змінено на приглушений блакитний колір *!*/
/*    box-shadow:*/
/*            0 0 0 5px #87CEEB44, !* Полупрозорий приглушений блакитний *!*/
/*            0 0 15px #87CEEB, !* Світлий приглушений блакитний *!*/
/*            0 0 30px #87CEEB; !* Зменшено розмір темної тіні *!*/
/*}*/



.bubble-effect span {
    position: relative;
    width: 10px; /* Зменшено удвічі з 20px */
    height: 10px; /* Зменшено удвічі з 20px */

    margin: 0 2px; /* Зменшено відступи, оскільки кульки менші */
    border-radius: 50%;
    background: rgba(154, 205, 50, 0.5); /* Приглушений зелений з зниженою прозорістю */
    box-shadow:
            0 0 0 5px rgba(154, 205, 50, 0.22), /* Більш прозорий */
            0 0 15px rgba(154, 205, 50, 0.5), /* Прозорий */
            0 0 30px rgba(154, 205, 50, 0.3);  /* Зменшено розмір темної тіні */
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubble-effect span:nth-child(even) {
    background: rgba(135, 206, 235, 0.5); /* Приглушений блакитний з зниженою прозорістю */
    box-shadow:
            0 0 0 5px rgba(135, 206, 235, 0.22), /* Більш прозорий */
            0 0 15px rgba(135, 206, 235, 0.5), /* Прозорий */
            0 0 30px rgba(135, 206, 235, 0.3); /* Зменшено розмір темної тіні */
}


@keyframes animate {
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}

