html, body {
    min-width: 375px;
}


.team-header {
    text-align: center;
    font-size: 51px;
    font-weight: normal;
    margin-top: 5%;
}

.team2-header {
    margin: 0;
    margin-top: 3%;
}

.etno-letters2 {
    font-family: 'Galaktika';
    font-weight: 400;
}

#image-container-team {
    position: relative;
    width: 250px;
    height: 200px;
    z-index: 1;
}


.description1 p {
    margin-top: 0;
    text-align: justify;
    font-size: 24px;
    font-weight: 400;
}


.description1 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Zen Kaku Gothic Antique';


}

.description2 p {
    margin-top: 0;
    text-align: justify;
    font-size: 24px;

    font-weight: 400;
}


.description2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-left: 5%;
    margin-right: 5%;
}


.right-section2 {
    display: flex;
    flex-direction: column;
}


.image-text-container-team {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    margin-bottom: 600px;
    margin-right: 70px;
    margin-left: 70px;


    flex-wrap: wrap;
}


.sections-container-team {
    display: flex;
    flex-direction: column;
}


.first-column, .second-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;

}


.first-section-team {
    display: flex;
    flex-direction: column;
}


.second-section-team {
    display: flex;
    flex-direction: column;
}


.sections-container-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sections-container-team section {
    flex-basis: 48%;
}


.etno-stripe-team {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 5%;
    margin-top: 3%;
}


.outline-team {
    position: relative;
    width: 300px;
    height: 700px;
    border: 1px solid #006432;
    top: 2%;
    left: 5%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.text-description-team b {
    display: block;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', sans-serif;
}

.text-description-team p {
    margin-top: 0;
    text-align: justify;
    font-size: 24px;
    font-weight: 400;
    width: 350px;
    text-justify: inter-word;
    font-family: 'Zen Kaku Gothic Antique';
}


.text-description-team {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    z-index: 2;
    font-size: 24px;
    position: absolute;
    top: 350px;
    left: 10px;
    right: 5px;
    bottom: 10px;
}


.sections-container-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media screen and (min-width: 425px) and (max-width: 1440px) {
    .sections-container-team section {
        flex-basis: calc(50% - 20px);
        margin: 10px;
        justify-content: center;
    }

    .image-text-container-team {
        justify-content: space-around;
        margin-left: 4px;
    }

    .sections-container-team {
        justify-content: space-around;
        margin-left: 1px;
    }
}


@media screen and (max-width: 425px) {
    .sections-container-team {
        justify-content: space-around;
        margin-left: 1px;
    }

    .sections-container-team section {
        flex-basis: 100%;

        justify-content: center;

    }

    .image-text-container-team {
        justify-content: space-around;
        margin-left: 4px;
    }

}


#image-team {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: -11px -11px 8px 0px rgba(0, 0, 0, 0.25);

    transition: box-shadow 0.3s ease-in-out;
}

#image-team:hover {
    box-shadow: 0 0 100px 5px rgba(1, 156, 124, 0.7);
}

.candle {
    width: 15em;
    height: 30em;
    font-size: 7px;
    background: linear-gradient(
            #006432,
            #006432,
            #006432,
            #006432 20%,
            rgb(0, 0, 0)
    );
    box-shadow: inset 2em -3em 5em rgba(0, 0, 0, 0.4),
    inset -2em 0 54em rgba(0, 0, 0, 0.4);
    border-radius: 10em / 4em;
    position: relative;
    display: flex;
    justify-content: center;
    top: 10em;
}

.candle::before {
    content: '';
    position: absolute;
    width: inherit;
    height: 5em;
    border: 0.2em solid rgba(1, 156, 124, 0.7);
    box-sizing: border-box;
    border-radius: 50%;
    background: linear-gradient(
            #444,
            rgba(1, 156, 124, 0.7),
            #006432,
            #006432,
            rgba(1, 156, 124, 0.7)
    );
    filter: opacity(0.7);
}

.thread {
    position: absolute;
    width: 0.6em;
    height: 3.6em;
    top: -1.8em;
    background: linear-gradient(
            #111,
            black,
            rgba(1, 156, 124, 0.7) 90%
    );
    border-radius: 40% 40% 0 0;
}

.flames {
    position: absolute;
    width: 2.4em;
}

.flames::before {
    content: '';
    position: absolute;
    width: inherit;
    height: 6em;
    background-color: rgba(0, 0, 0, 0.6);
    top: -4em;
    border-radius: 50% 50% 35% 35%;
    border: 0.2em solid rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    filter: opacity(0.7);
}

.flames::after {
    content: '';
    position: absolute;
    width: inherit;
    height: 12em;
    top: -12em;
    background: linear-gradient(white 80%, transparent);
    border-radius: 50% 50% 20% 20%;
    box-shadow: 0 -0.6em 0.4em rgba(1, 156, 124, 0.7);
    animation: enlarge 5s linear infinite,
    move 6s linear infinite;
}

@keyframes move {
    0%, 100% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
}

@keyframes enlarge {
    0%, 100% {
        height: 12em;
        top: -12em;
    }
    50% {
        height: 14em;
        top: -13em;
    }
}

.glow {
    position: absolute;
    width: 10em;
    height: 18em;
    background-color: rgba(1, 156, 124, 0.7);
    border-radius: 50%;
    top: -17em;
    filter: blur(6em);
    animation: blink 100ms infinite;
}

@keyframes blink {
    to {
        filter: blur(6em) opacity(0.8);
    }
}

#candle1 {
    transform: translateZ(50px) scale(1.1);
}

#candle2 {

    transform: translateZ(-50px) scale(0.9);
}

#candle3 {
    transform: translateZ(30px) scale(1.05);
}

#candle4 {
    transform: translateZ(-30px) scale(0.95);
}

#candle5 {
    transform: translateZ(60px) scale(1.2);
}

#candle6 {

    transform: translateZ(-60px) scale(0.8);
}

#candle7 {
    transform: translateZ(40px) scale(1.15);
}

#candle8 {

    transform: translateZ(-40px) translateY(30px) scale(0.85);
}

#candle9 {
    transform: translateZ(20px) scale(1.1);
}

#candle10 {
    transform: translateZ(-20px) scale(0.9);
}

#candle11 {
    transform: translateZ(70px) scale(1.3);
}

#candle12 {

    transform: translateZ(-70px) translateY(30px) scale(0.7);
}

#candle13 {
    transform: translateZ(10px) scale(1.05);
}

#candle14 {
    transform: translateZ(-10px) scale(0.95);
}

#candle15 {
    height: 140px;
    transform: translateZ(0px) translateY(-180px) scale(1.0);
}

#candle16 {
    height: 100px;
    transform: translateZ(100px) translateY(-170px) scale(1.3);
}

#candle17 {
    height: 70px;
    transform: translateZ(-70px) translateY(-150px) scale(1.7);
}

#candle18 {
    height: 120px;
    transform: translateZ(-50px) translateY(-170px) scale(1.05);
}

#candle19 {
    transform: translateZ(-100px) translateY(-160px) scale(0.95);
}

#candle20 {
    height: 120px;
    transform: translateZ(-200px) translateY(-160px) scale(1.0);
}


#candle-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    perspective: 1000px;
    margin-bottom: -160px;
}


@media (max-width: 1439px) {
    #candle-row {
        display: none;

    }

}






