.landing-page {
    margin: 0;
    height: calc(100vh - 104px);
    display: flex;
    flex-direction: column;
}

#background-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    background: url('../../images/background.png') no-repeat center;
    background-size: cover;
}

#background-img img {
    text-align: center;
    object-fit: cover;
}

.header-text {
    margin: 0;

    margin-top: 13%;
    margin-bottom: 27vh;
    margin-left: 5vw;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.pre-body {
    color: #E2DDE1;
    font-size: 20px;
    width: 35vw;
}

.header-body {
    font-size: 62px;
    width: 40vw;
}

.scroll-down {
    width: 15%;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    margin-bottom: 1.5vh;
    text-align: center;
    font-size: 28px;
}

@media(min-width: 1441px) {
    .pre-body {
        font-size: 24px;
    }

    .header-body {
        font-size: 64px;
    }

    .label {
        font-size: 32px;
    }
}

/* @media (max-width: 1024px) {

} */
