.landing-page-container {
    display: block;
}
.landing-page {
    margin: 0;
    display: flex;
    height: calc(100vh - 14vh);
    flex-direction: column;
}

#background-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    background: url('../../images/background.png') no-repeat center;
    background-size: cover;
}

#background-img img {
    text-align: center;
    object-fit: cover;
}

.header-text {
    margin: 0;

    margin-top: 13%;
    margin-bottom: 20vh;
    margin-left: 6.5vw;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.pre-body {
    color: #E2DDE1;
    font-size: 20px;
    width: 35vw;
}

.header-body {
    font-size: 62px;
    width: 40vw;
}

.scroll-down {
    width: 20vw;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.label {
    margin-bottom: 1.5vh;
    text-align: center;
    font-size: 28px;
}

@media(min-width: 1441px) {
    .pre-body {
        font-size: 24px;
    }

    .header-body {
        font-size: 64px;
    }

    .label {
        font-size: 32px;
    }
}

@media (max-width: 1334px) {
    .pre-body {
        font-size: 18px;
    }
    
    .header-body {
        font-size: 60px;
    }
    
    .scroll-down {
        width: 25vw;
    }
}

@media (max-width: 1038px) {
    .pre-body {
        font-size: 16px;
    }
    
    .header-body {
        font-size: 54px;
    }
}

@media (max-width: 1024px) {
    .landing-page {
        height: calc(100vh - 14vh);
    }
}

@media (max-width: 922px) {
    .landing-page {
        height: calc(100vh - 13vh);
    }
}

@media (max-width: 792px) {
    .landing-page {
        height: calc(100vh - 12vh);
    }
}

@media (max-width: 768px) {
    .landing-page {
        height: calc(100vh - 11vh);
    }

    .header-text {
        margin-top: 30vh;
        margin-left: 0;
        margin-bottom: 28vh;
    }

    .pre-body, .header-body {
        align-self: center;
        text-align: center;
    }
    
    .pre-body {
        width: 100%;
    }
    
    .header-body {
        font-size: 48px;
        width: 76%;
    }

    .label {
        font-size: 24px;
    }

    #arrow-down {
        width: 30%;
        height: 30%;
    }
}

@media (max-width: 728px) {
    .header-text {
        margin-bottom: 18vh;
    }
}

@media (max-width: 688px) {
    .landing-page {
        height: calc(100vh - 10vh);
    }

    .pre-body {
        font-size: 14px;
    }
    
    .header-body {
        font-size: 44px;
    }
}

@media (max-width: 598px) {
    .landing-page {
        height: calc(100vh - 9vh);
    }

    .header-body {
        font-size: 40px;
    }
}

@media (max-width: 514px) {
    .landing-page {
        height: calc(100vh - 8vh);
    }
}