.services-dropdown-menu {
    position: absolute;
    object-fit: cover;
    overflow: visible;
    z-index: 100;
    padding: 0;
    margin: 0;
    margin-top: 20%;
    list-style-type: none;

    background: rgba(0, 18, 22, 0.48);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    border: 1px solid rgba(0, 18, 22, 0.1);
}

.services-dropdown-menu li {
    padding: 14px;
    transition: all linear 0.3s;
    display: block;
    padding-left: 3px;
    padding-right: 3px;

    font-family: Zen Kaku Gothic Antique;
    font-size: 16px;
    text-align: center;
}
  
.services-dropdown-menu li:hover {
    background: rgba(12, 60, 71, 0.805);
    cursor: pointer;
    color: #fff;
}

.services-dropdown-menu.inactive {
    display: none;
    opacity: 0;
    transition: 0.5s ease;
}

.services-dropdown-menu.active {
    opacity: 1;
    transition:  0.5s ease;
}