.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;

    background: #00080A;
    font-family: 'Zen Kaku Gothic Antique';
    font-size: 20px;
}

