.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 4vw;

    background: #00080A;
    font-family: 'Zen Kaku Gothic Antique';
    font-size: 20px;
}

.footer p {
    text-align: center;
}

#pages-nav {
    text-align: left;
}

.social-networks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20%;
}

@media (min-width: 1441px) {
    .footer {
        gap: 8vw;
    }
}