.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 4vw;

    background: #00080A;
    font-family: 'Zen Kaku Gothic Antique';
    font-size: 20px;
}

.footer p {
    text-align: center;
}

#pages-nav {
    text-align: left;
}

.social-networks {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1.5fr;
    gap: 20%;
}

@media (min-width: 1441px) {
    .footer {
        gap: 8vw;
    }
}

@media (max-width: 768px) {
    #footer-logo {
        width: 30vw;
    }

    .footer p {
        font-size: 18px;
        margin-top: 30px;
    }

    .social-networks {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 768px) {
    #footer-logo {
        width: 30vw;
    }

    .footer p {
        font-size: 18px;
        margin-top: 30px;
    }

    .social-networks {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 425px) {
    #footer-logo {
        width: 50vw;
    }

    .footer p {
        font-size: 14px;
        margin-top: 30px;
    }

    .footer #contacts {
        margin-right: 15vw;
    }

    .social-networks {
        margin-left: 0;
        margin-right: 10vw;
    }

    .arrow-up {
        margin-left: 10vw;
    }
}