header {
    margin-top: 3vh;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;

    justify-content: space-evenly;
    align-items: center;

    list-style-type: none;
}

.navbar ul a {
    color: #FFF;
    text-decoration: none;

    text-align: center;
   
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar ul a.active {
    position: relative;
}

.navbar ul a.active:after {
    content: "";
    position: absolute;
    background-image: url(../images/etnoSymbolsDetails/uderlined_nav_item_active_page.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -20px;
    left: -10%;
    width: 140%;
    height: 125%;
}

#logo {
    padding-left: 7vw;
    padding-right: 7vw;
}

@media(min-width: 1441px) {
    .navbar ul a {
        font-size: 30px;
    }
}

@media (max-width: 1024px) {
    header {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    #logo {
        width: 70%;
        height: auto;
    }
    
    .navbar ul a {
        font-size: 26px;
    }
}

@media (max-width: 856px) {
    .navbar ul a {
        font-size: 23px;
    }
}

@media (max-width: 768px) {
    header {
        margin-left: 8vw;
        margin-right: 8vw;
    }

    #logo {
        text-align: center;
    }

    .navbar ul a {
        font-size: 20px;
    }
}

@media (max-width: 728px) {
    #logo {
        width: 200px;
    }
}

@media (max-width: 654px) {
    .navbar ul a {
        font-size: 18px;
    }
}

@media (max-width: 596px) {
    .navbar ul a {
        font-size: 16px;
    }

    #logo {
        width: 170px;
        padding-left: 4vw;
        padding-right: 4vw;
    }
}

@media (max-width: 488px) {
    .general-header {
        margin-left: 0;
        margin-right: 0;
    }

    #logo {
        width: 160px;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
}

@media (min-width: 425px) {
    .toggled-navbar {
        display: none;
    }
}

@media (max-width: 425px) {
    .general-header {
        position: relative;
        margin: 0;
    }

    .toggled-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-top: 5%;
        margin-right: 5%;
    }

    .toggled-navbar img {
        width: 80%;
    }

    #hamburger {
        margin-top: 2.5%;
        cursor: pointer;
    }

    #li-logo {
        display: none;
    }

    .navbar ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
     
        opacity: 0;
        height: calc(100vh - 107px);
        width: 100%;
        padding: 0;
        padding-top: 10%; 
        margin: 0;
        gap: 2rem;
        
        background-color: rgba(0, 18, 22, 0.97);
    }
    
    .navbar ul.active {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
    
    .navbar ul a {
        font-size: 28px;
    }
}