.services-header {
    margin: 0;
    margin-top: 3%;
}

.all-services-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.service-item .picture {
    width: 20vw;
    height: auto;
}